<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>Login</header>
  <div class="container">
    <form method="POST">
      <input type="text" name="username" placeholder="Username" required><br><br>
      <input type="password" name="password" placeholder="Password" required><br><br>
      <input type="submit" value="Login"><br><br>
      <a href="/signup">Create an account</a>
    </form>
    {% if error %}
      <p style="color:red;">{{ error }}</p>
    {% endif %}
  </div>
</body>
</html>
